@charset "UTF-8";
@import "common_mixin.scss";


	.contents-unit-width {
		/* コンテンツ幅指定 */
		@include contents-unit-width(1200px);
	}

	img {
		max-width: 100%;
	}
	
	.text-center {
		text-align: center;
		margin-bottom: 2rem;
	}

	.device-test {
		/* デバイスの指定切り替えの例 */
		@include device-desktop{
			background-color: #FF0;
		}

		@include device-tablet{
			background-color: #0F0;
		}

		@include device-sp{
			background-color: #00F;
		}
		
	}

	#imgdownload {

	}

	header {
		background-color: #EFEFEF;
		padding: 1.4rem;
		text-align: center;
		margin-bottom: 3rem;
	}

	footer {
		margin-top: 3rem;
		text-align: center;
		color: #999999;
	}

	h1,h2,h3,h4,h5,h6 {
		font-weight: bold;
		color: #111111;
		font-family: "Noto Sans JP";
	}

	h1 {
		font-size: 2rem;
		letter-spacing: .2rem;
	}

	p {
		line-height: 150%;
		font-size: 1rem;
		letter-spacing: .1rem;
	}

	body {
		background-color: #ffffff;
	}

	.readme {
		background-color: #f3faff;
		padding: 2rem;
		margin-bottom: 5rem;

		h2 {
			font-size: 1.6rem;
			font-weight: bold;
			margin-bottom: 2rem;
			text-align: center;

			span {
				display: inline-block;
				border-bottom: 2px dashed #000;
				padding-bottom: .5rem;
			}

		}

		p {
			font-size: 1.1rem;
			margin-bottom: 2rem;
		}

		span.notice {
			display: block;
			margin-bottom: .4rem;
			text-align: center;
			font-weight: bold;
			font-size: 1.2rem;
		}

		span.subnotice {
			display: block;
			margin-bottom: 1.5rem;
			text-align: center;
		}

		ul {
			li {
				font-size: 1rem;
				line-height: 150%;
				margin-bottom: .2rem;
			}
		}
	}
	/* /.readme */

	.filterinput {
		@include flexbox(start);
		padding: 2rem 2rem 1rem 2rem;
		background-color: #F8F8F8;
		width: 580px;
		margin: 0 auto 5rem auto;

		#listsearchinput {
			font-size: 2rem;
			width: 14rem;
			padding: .25rem;

		}

		#filterclear {
			display: inline-block;
			padding: 1rem 2rem;
			font-size: 1.1rem;
			font-weight: bold;
			background-color: #5cb8ff;
			color: #FFFFFF;
			margin-left: 1rem;

			&:hover {
				@include opacity(0.8);
			}
		}

		dt {
			font-weight: bold;
			margin-right: 1rem;
			width: 9rem;
			padding-top: 1rem;
		}

		dd {
			span.ex {
				display: block;
				margin-top: .2rem;
				color: #aaaaaa;
			}
		}

		dd.input {
			width: 15rem;
		}
		dd.clear {
			width: 10rem;
		}
	}
	/* /.filterinput */

	.btn-wrap {
		margin: 0 auto;
	}

	.cart-info {
		font-size: 1.2rem;
		text-align: center;
		margin-bottom: 3rem;
		font-weight: bold;

		a {
			text-decoration: none;
			color: #fF9900;
		}
	}

	.appbtn-area {
		padding: 3rem;
		@include radius-func(5px);
		background-color: #F9F9F9;
	}
	/* /.appbtn-area */

	.btn {
		margin-top: 1rem;
		display: block;
		text-align: center;
		a {
			display: inline-block;
			background-color: #ff5c5c;
			color: #FFFFFF;
			text-decoration: none;
			font-size: 1.1rem;
			font-weight: bold;
			padding: 1rem 2rem;
			letter-spacing: .1rem;

			&:hover {
				@include opacity(0.8);
			}
		}
	}

	.negation {
		a {
			background-color: #AAAAAA;
		}
	}

	.back-btn {
		a {
			padding: 1.6rem 5rem;
			margin-bottom: 5rem;
		}
	}

	.applicant {
		a {
			background-color: #fF9900;
			font-size: 1.5rem;
			letter-spacing: .2rem;
			padding: 2.5rem 7rem;
			margin-bottom: 5rem;
		}
	}

	#imglists {
		@include flexbox(start);

		dl {
			@include easing-effect(all, 0.3s, ease-out);
		}

		dl + dl {
			margin-left: 1rem;
		}

		.loop-unit {
			width: 32%;
			margin-bottom: 5rem;


			span.no {
				display: inline-block;
				font-weight: bold;
				font-size: 1.2rem;
				margin-bottom: 1rem;
				color: #333333;
				letter-spacing: .1rem;
			}

			dt {
				min-height: 350px;
				background-color: #FCFCFC;
				position: relative;
				margin-bottom: 2rem;

				img {
					@include center(xy);
					max-height: 100%;
				}
				
			}

			dd {

			}

			span.cart-btn {
				display: block;
			}


		}
	}
	/* /#imglists */



	.formarea {
		width: 70%;
		margin: 0 auto 5rem auto;

		dl {
			@include flexbox(start);
			margin-bottom: 2rem;

			dt {
				width: 100%;
				font-size: 1.2rem;
				font-weight: bold;
				margin-bottom: 1rem;
				padding-left: .6rem;
				color: #111111;
			}

			dd {
				width: 100%;
			}
		}

		dl.require {
			dt {
				border-left: 4px solid #ff9393;
			}
			
		}

		input {
			font-size: 2rem;
			padding: .5rem;
		}
		textarea {
			font-size: 1.4rem;
			width: 100%;
			min-height: 100px;
			padding: .5rem;
		}
	}
	/* /.formarea */

	.err-msg {
		background-color: #FFeeee;
		width: 70%;
		margin: 0 auto 5rem auto;
		padding: 2rem;
		box-sizing: border-box;

		li {
			font-size: 1.3rem;
			color: #ff5656;

			& + li {
				margin-top: 1rem;
			}
		}
	}


	#page-form {
		.btn-wrap {
			margin-top: 5rem;
		}
	}
	/* /#page-form */


	.download-msg {
		margin-bottom: 5rem;

		p {
			font-size: 1.4rem;
			font-weight: bold;
			text-align: center;
		}
	}
	/* /.download-msg */